.navbar {
  background-color: #000000;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0px 10px rgb(240, 236, 236);
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  
}

.navbar-links {
  display: flex;
  gap: 2rem;
}

.nav-link {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition:all;
}

.nav-link:hover {
  background-color: rgb(0, 0, 0);
  text-shadow: 0px 0px 10px #fff;
}

@media (max-width: 768px) {
  .navbar {
    padding: 1rem;
  }

  .navbar-brand {
    font-size: 1.2rem;
  }

  .navbar-links {
    gap: 1rem;
  }

  .nav-link {
    padding: 0.5rem;
  }
}