.navbar {
  background-color: #000000;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0px 10px rgb(240, 236, 236);
}

.navbar > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  box-sizing: border-box;
}

/* Constrained width for MoviePlayer page */
.navbar-constrained > div {
  max-width: 1200px;
  width: 90%;
  padding: 0 20px;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-links {
  display: flex;
  gap: 2rem;
}

.nav-link {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition:all;
}

.nav-link:hover {
  background-color: rgb(0, 0, 0);
  text-shadow: 0px 0px 10px #fff;
}

@media (max-width: 1024px) {
  .navbar > div {
    padding: 0 1rem;
  }
}

@media (max-width: 768px) {
  .navbar {
    padding: 1rem 0;
  }

  .navbar > div {
    padding: 0 1rem;
  }

  .navbar-brand {
    font-size: 1.2rem;
  }

  .navbar-links {
    gap: 1rem;
  }

  .nav-link {
    padding: 0.5rem;
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .navbar > div {
    padding: 0 1rem;
  }

  .navbar-brand {
    font-size: 1rem;
  }

  .navbar-links {
    gap: 0.5rem;
  }

  .nav-link {
    padding: 0.4rem 0.6rem;
    font-size: 0.85rem;
  }
}